# Copyright (c) 2025 Mercedes-Benz AG
# Oliver Weng <sap.weng@extaccount.com>
#
# Version History:
# 1.0.0 - 2025-11-24 - Initial release (O. Weng)
#
name: Delete / Upload IntegrationPackages/PartnerDirectory

on:
  workflow_call:
    inputs:
      workflow-ref:
        description: "GIT Reference Workflow should run in"
        required: true
        type: string
      target-env:
        description: "Environment"
        required: true
        type: string
      source-ref:
        description: "GIT Source Reference"
        required: true
        type: string   
      integrationpackages-upload-ids:
        description: "Comma-separated list of IDs to upload IntegrationPackages"
        required: false
        type: string
      integrationpackages-delete-ids:
        description: "Comma-separated list of IDs to delete IntegrationPackages"
        required: false
        type: string
      partnerdirectory-upload-ids:
        description: "Comma-separated list of IDs to upload PartnerDirectory"
        required: false
        type: string       
      partnerdirectory-delete-ids:
        description: "Comma-separated list of IDs to delete PartnerDirectory"
        required: false
        type: string
      attach-zip-only:
        description: "Only Attach ZIP file for Package(s)?"
        required: false
        default: "false"
        type: string        
      btp-api-user:
        description: "BTP Service Key (ClientID) to access Token Endpoint"
        required: true
        type: string
      btp-tec-user:
        description: "BTP technical User with Access Policy for Integration Suite"
        required: true
        type: string
      btp-token-url:
        description: "URL on BTP to request Token"
        required: true
        type: string    
      btp-api-url:
        description: "URL on BTP to access APIs"
        required: true
        type: string
      git-cicd-orgrepo:
        description: "Remote GIT Org/Repo for CICD"
        required: true
        type: string
    secrets:
      BTP_TEC_PASSWORD:
        required: true
      BTP_API_PASSWORD:
        required: true
      GIT_CICD_TOKEN:
        description: "GIT Token of remote CICD Repo"
        required: true

jobs:
  preprocess-ids:
    name: Preprocess Ids
    environment: ${{ github.event.inputs.target-env }}
    runs-on: ubuntu-latest
    outputs:
      integrationpackages_to_upload: ${{ steps.parse-csv-to-json-packages.outputs.to_upload }}
      integrationpackages_all_ids: ${{ steps.parse-csv-to-json-packages.outputs.all_ids }}
      partnerdirectory_to_upload: ${{ steps.parse-csv-to-json-pid.outputs.to_upload }}
      partnerdirectory_all_ids: ${{ steps.parse-csv-to-json-pid.outputs.all_ids }}

    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }}

      - name: Parse IntegrationPackages CSVs to JSON arrays
        id: parse-csv-to-json-packages
        uses: ./cicd-btp-insuite/.github/actions/parse-csv-to-json
        with:
          delete-ids: ${{ inputs.integrationpackages-delete-ids  }}
          upload-ids: ${{ inputs.integrationpackages-upload-ids }}
          empty-array-default: EmptyMatrix

      - name: Parse PartnerDirectory CSVs to JSON arrays
        id: parse-csv-to-json-pid
        uses: ./cicd-btp-insuite/.github/actions/parse-csv-to-json
        with:
          delete-ids: ${{ inputs.partnerdirectory-delete-ids }}
          upload-ids: ${{ inputs.partnerdirectory-upload-ids }}
          empty-array-default: EmptyMatrix

  attach-zips-only:
    name: Prepare & Attach ZIP Packages
    needs: [preprocess-ids]
    if: ${{ inputs.attach-zip-only == 'true' }}
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 5
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.integrationpackages_to_upload) }}

    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.source-ref }}
          path: btp-insuite

      - name: Prepare ZIP and attach artifact
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/prepare-zip-from-dir
        with:
          package-id: ${{ matrix.id }}
          attach-zip: "true"

  btp-runtime-delete:
    if: ${{ inputs.attach-zip-only != 'true' }}
    needs: [preprocess-ids]
    name: Undeploy Package ${{ matrix.id }}
    environment: ${{ inputs.target-env }}
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.integrationpackages_all_ids) }}    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }} 
          
      - name: Delete Package from Runtime
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/update-runtime
        with:
          target-env: ${{ inputs.target-env }}
          source-ref: ${{ inputs.current-tag }}
          package-id: ${{ matrix.id }}
          mode: "Undeploy"
          btp-api-user: ${{ inputs.btp-api-user }}
          btp-tec-user: ${{ inputs.btp-tec-user }}
          btp-token-url: ${{ inputs.btp-token-url }}
          btp-api-url: ${{ inputs.btp-api-url }}
          BTP_TEC_PASSWORD: ${{ secrets.BTP_TEC_PASSWORD }}
          BTP_API_PASSWORD: ${{ secrets.BTP_API_PASSWORD }}
          
  btp-pd-delete:
    if: ${{ inputs.attach-zip-only != 'true' }}
    needs: [preprocess-ids, btp-runtime-delete]
    name: Delete PD ${{ matrix.id }}
    environment: ${{ inputs.target-env }}
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.partnerdirectory_all_ids) }}    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }} 
          
      - name: Request OAuth Token
        if: ${{ matrix.id != 'EmptyMatrix' }}
        id: get-token
        uses: ./cicd-btp-insuite/.github/actions/get-token
        with:
          btp-api-user: ${{ inputs.btp-api-user }}
          btp-tec-user: ${{ inputs.btp-tec-user }}
          btp-token-url: ${{ inputs.btp-token-url }}
          BTP_API_PASSWORD: ${{ secrets.BTP_API_PASSWORD }}
          BTP_TEC_PASSWORD: ${{ secrets.BTP_TEC_PASSWORD }}

      - name: Delete Partner Directory Entry
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/delete-partner-directory-entry
        with:
          bearer-token: ${{ steps.get-token.outputs.token }}
          btp-api-url: ${{ inputs.btp-api-url }}
          partner-id: ${{ matrix.id }}
       
  btp-designtime-delete:
    if: ${{ inputs.attach-zip-only != 'true' }}  
    needs: [preprocess-ids, btp-pd-delete]
    name: Delete Package ${{ matrix.id }}
    environment: ${{ inputs.target-env }}
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.integrationpackages_all_ids) }} 
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }}

      - name: Delete Package from Design Time
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/update-designtime
        with:
          target-env: ${{ inputs.target-env }}
          source-ref: ${{ inputs.source-ref }}
          package-id: ${{ matrix.id }}
          case: "Delete"
          btp-api-user: ${{ inputs.btp-api-user }}
          btp-tec-user: ${{ inputs.btp-tec-user }}
          btp-token-url: ${{ inputs.btp-token-url }}
          btp-api-url: ${{ inputs.btp-api-url }}
          BTP_API_PASSWORD:  ${{ secrets.BTP_API_PASSWORD }}
          BTP_TEC_PASSWORD:  ${{ secrets.BTP_TEC_PASSWORD }}
  
  btp-designtime-upload:
    if: ${{ inputs.attach-zip-only != 'true' }}
    needs: [preprocess-ids, btp-designtime-delete]
    name: Upload Package ${{ matrix.id }}
    environment: ${{ inputs.target-env }}
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.integrationpackages_to_upload) }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }}
          
      - name: Upload Package to Design Time
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/update-designtime
        with:
          target-env: ${{ inputs.target-env }}
          source-ref: ${{ inputs.source-ref }}
          package-id: ${{ matrix.id }}
          case: "Upload"
          btp-api-user: ${{ inputs.btp-api-user }}
          btp-tec-user: ${{ inputs.btp-tec-user }}
          btp-token-url: ${{ inputs.btp-token-url }}
          btp-api-url: ${{ inputs.btp-api-url }}
          BTP_API_PASSWORD:  ${{ secrets.BTP_API_PASSWORD }}
          BTP_TEC_PASSWORD:  ${{ secrets.BTP_TEC_PASSWORD }}   
       
  btp-pd-upload:
    if: ${{ inputs.attach-zip-only != 'true' }}
    needs: [preprocess-ids, btp-designtime-upload]
    name: Upload PD ${{ matrix.id }}
    environment: ${{ inputs.target-env }}
    strategy:
      max-parallel: 10
      fail-fast: false
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.partnerdirectory_to_upload) }}    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }} 

      - name: Create Partner Directory Entry
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/create-pid
        with:
          target-env: ${{ inputs.target-env }}
          source-ref: ${{ inputs.source-ref }}
          partner-id: ${{ matrix.id }}
          btp-api-user: ${{ inputs.btp-api-user }}
          btp-tec-user: ${{ inputs.btp-tec-user }}
          btp-token-url: ${{ inputs.btp-token-url }}
          btp-api-url: ${{ inputs.btp-api-url }}
          BTP_API_PASSWORD: ${{ secrets.BTP_API_PASSWORD }}
          BTP_TEC_PASSWORD: ${{ secrets.BTP_TEC_PASSWORD }}

  btp-update-runtime:
    if: ${{ inputs.attach-zip-only != 'true' }}
    name: Deploy Package ${{ matrix.id }}
    environment: ${{ inputs.target-env }}
    needs: [preprocess-ids, btp-pd-upload]
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        id: ${{ fromJson(needs.preprocess-ids.outputs.integrationpackages_to_upload) }} 
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout mb-cicd-btp-insuite repo
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git-cicd-orgrepo }}
          ref: ${{ inputs.workflow-ref }}
          path: cicd-btp-insuite
          token: ${{ secrets.GIT_CICD_TOKEN }}
          
      - name: Deploy Package to Runtime
        if: ${{ matrix.id != 'EmptyMatrix' }}
        uses: ./cicd-btp-insuite/.github/actions/update-runtime
        with:
          target-env: ${{ inputs.target-env }}
          source-ref: ${{ inputs.source-ref }}
          package-id: ${{ matrix.id }}
          mode: "Deploy"
          iflow-deploy: "true"
          btp-api-user: ${{ inputs.btp-api-user }}
          btp-tec-user: ${{ inputs.btp-tec-user }}
          btp-token-url: ${{ inputs.btp-token-url }}
          btp-api-url: ${{ inputs.btp-api-url }}
          BTP_TEC_PASSWORD: ${{ secrets.BTP_TEC_PASSWORD }}
          BTP_API_PASSWORD: ${{ secrets.BTP_API_PASSWORD }}
          
  output-status:
    needs: [preprocess-ids, attach-zips-only, btp-runtime-delete, btp-pd-delete, btp-designtime-delete, btp-designtime-upload, btp-pd-upload, btp-update-runtime]
    environment: ${{ inputs.target-env }}
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Echo Status
        run: |
          echo "needs.preprocess-ids.result = ${{ needs.preprocess-ids.result }}"
          echo "needs.btp-runtime-delete.result = ${{ needs.btp-runtime-delete.result }}"
          echo "needs.btp-pd-delete.result = ${{ needs.btp-pd-delete.result }}"
          echo "needs.btp-designtime-delete.result = ${{ needs.btp-designtime-delete.result }}"
          echo "needs.btp-designtime-upload.result = ${{ needs.btp-designtime-upload.result }}"
          echo "needs.btp-pd-upload.result = ${{ needs.btp-pd-upload.result }}"
          echo "needs.btp-update-runtime.result = ${{ needs.btp-update-runtime.result }}"
