name: blackduck-security-scan action
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

## Please enter your Blackduck project name and change the scan mode to INTELLIGENT for running the detect action in INTELLIGENT mode
## INTELLIGENT mode : Scan result is updated to blackduck UI
## RAPID mode : Scan results present in scan console log

jobs:
  security-scan-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.2.1
        with:
          java-version: 11
      - name: Black Duck Scan
        uses: blackduck-inc/black-duck-security-scan@v2.1.1
        env:
          DETECT_PROJECT_NAME: ${{ vars.BLACKDUCK_PROJECT_NAME }}
          DETECT_PROJECT_VERSION_NAME: ${{ vars.BLACKDUCK_VERSION_NAME }}
        with:
          blackducksca_url: ${{ vars.BLACKDUCK_API_URL }}
          blackducksca_token: ${{ secrets.BLACKDUCK_API_TOKEN }}
          github_token: ${{ secrets.DBF_GIT_ORG_TOKEN }}
          blackducksca_scan_full: true   # Set to false if a rapid scan has to be done